---
import AdminPostForm from "../../../components/AdminPostForm.astro";
import AdminLayout from "../../../layouts/AdminLayout.astro";

const session = Astro.locals.adminSession!;
---

<AdminLayout title="새 글" authenticated csrfToken={session.csrfToken}>
  <section class="admin-panel">
    <div class="admin-heading-row">
      <h1>새 글</h1>
      <a href="/admin/">목록으로</a>
    </div>
    <AdminPostForm csrfToken={session.csrfToken} />
  </section>
</AdminLayout>
